{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="container shadow p-4 mb-5 bg-body rounded">
    <!-- Form for adding books -->
    <form method="POST">
      <select name="book_id">
          {% for book in books %}
              <option value="{{ book.id }}">{{ book.title }}</option>
          {% endfor %}
      </select>
      <button type="submit">Add book to my profile</button>
    </form>

    <div class="row">
        <div class="col" name="tituloDeLista">
            <h3>Mi Lista <i class="bi bi-book"></i></h3>
        </div>
    </div>

    {% for book in current_user.books | reverse %}
    
    <div class="row">
        <div class="col-12 px-3 py-1 border bg-white rounded">
            <div class="row">
                <div name="numeroDeLibro" class="col-1">
                    {{loop.index}}
                </div>
                <div class="col-6 border-start">
                    {{book.title}}
                    <i class="bi bi-pencil-square"></i> 
                </div>
                <div class="col-1 border-start">
                    <i class="bi bi-check2-square cursor-pointer"></i>
                    <button class="fa fa-trash cursor-pointer" onclick="eliminarLibro({{book.id}})"></button> 
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function eliminarLibro(bookId) {
    $.post('/delete_book/' + bookId, function() {
        alert('Libro eliminado de tu perfil');  // Muestra una alerta
        location.reload();  // Recarga la página después de eliminar el libro
    });
}
</script>

{% endblock %}
