{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container shadow p-4 mb-5 bg-body-tertiary rounded">
        <div class="row">
            <div class="col">
                <h3>Mi Lista <i class="bi bi-book"></i></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-3 py-1 border bg-white rounded">
                <div class="row">
                    <div class="col-1">
                        1.
                    </div>
                    <div class="col-6 border-start">
                        100 años de soledad
                        <i class="bi bi-pencil-square"></i>
                    </div>
                    <div class="col border-start">
                        Agregar review
                    </div>
                    <div class="col-1 border-start">
                        <i class="bi bi-check2-square"></i>
                        <i class="bi bi-trash"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 px-3 py-1 border bg-white rounded">
                <div class="row">
                    <div class="col-1">
                        2. 
                    </div>
                    <div class="col-6 border-start">
                        La ciudad y los perros
                        <i class="bi bi-pencil-square"></i>
                    </div>
                    <div class="col border-start">
                        Ver review
                    </div>
                    <div class="col-1 border-start">
                        <i class="bi bi-check2-square"></i>
                        <i class="bi bi-trash"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 px-3 py-1 border bg-white rounded">
                <div class="row">
                    <div class="col-1">
                        3.
                    </div>
                    <div class="col-6 border-start">
                        Rayuela
                        <i class="bi bi-pencil-square"></i>
                    </div>
                    <div class="col border-start">
                        Agregar review
                    </div>
                    <div class="col-1 border-start">
                        <i class="bi bi-check2-square"></i>
                        <i class="bi bi-trash"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <a class="btn btn-dark" role="button" aria-disabled="true">Agregar Libro</a>
                <a class="btn btn-warning" role="button" aria-disabled="true">Ver mis libros sin reseña</a>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4 shadow p-4 mb-5 bg-body-tertiary rounded me-3">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid" src="{{ url_for('static', filename='profile.avif')}}" alt="">
                </div>
                <div class="col">
                    <h3>La ciudad y los perros</h3>
                    <span>Apr 20, 2021 at 23:07</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolore quas tenetur. Voluptatem quisquam reprehenderit ex tenetur labore minus mollitia aliquam iusto illo, voluptatum dicta, ratione exercitationem autem? Optio, ducimus.</p>
                </div>
            </div>
        </div>
        <div class="col-4 shadow p-4 mb-5 bg-body-tertiary rounded mx-3">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid" src="{{ url_for('static', filename='profile.avif')}}" alt="">
                </div>
                <div class="col">
                    <h3>La ciudad y los perros</h3>
                    <span>Apr 20, 2021 at 23:07</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolore quas tenetur. Voluptatem quisquam reprehenderit ex tenetur labore minus mollitia aliquam iusto illo, voluptatum dicta, ratione exercitationem autem? Optio, ducimus.</p>
                </div>
            </div>
        </div>
        <div class="col shadow p-4 mb-5 bg-body-tertiary rounded ms-3">
            alo mama
        </div>
    </div>
</div>

{% endblock %}