/*  --------------------------------------------------------
   Basic
-------------------------------------------------------- */
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal !important;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
h1 { font-size: 36px; line-height: 45px; }

.font-pacifico    { font-family: 'Pacifico', cursive !important; }
.color-dark     { color: #5f6467 !important; }
.color-light    { color: #ffffff !important; }
.mt-20   { margin-top: -20px; }
.mt-25   { margin-top: -25px; }
.mt-50   { margin-top: -50px; }
.ml-10   { margin-left: -10px; }
.alpha10    { opacity: 1 !important; }

/*  --------------------------------------------------------
   IMPORT GOOGLE FONTS
-------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);



/*  --------------------------------------------------------
  NAVBAR
-------------------------------------------------------- */

.navbar-light {
    background-color: transparent;
    padding: 20px 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.active a{
    color: #fff !important;
    font-weight: bold;
}

.bg-light{
    padding: 10px 0;
    background: #fff !important;
    color: #454545 !important;
}

.top-nav-collapse {
    padding: 10px 0;
    background: #fff !important;
}

.top-nav-collapse .navbar-nav li a {
        color: #454545 !important;
    }

.navbar-light .navbar-brand:hover {
    
    transform: scale(1.05);
}


.navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
}



.navbar-light .navbar-nav .nav-link,input[type=text]{
	font-family: 'Montserrat', sans-serif;
    padding:0 20px;
    letter-spacing: 1px;
	color:rgba(255,255,255,1);
}
.navbar-light .navbar-nav .nav-link{
    font-size: 14px;
}
input[type=text],button{
    font-size: 12px;
    height:30px;
}


.navbar-light .navbar-nav .nav-link:hover{
	color:rgba(255,255,255,.7);
	background-color: transparent;
}

.nav-search .navbar-nav .nav-link{
    color:#454545;
}

.nav-search  .navbar-nav .nav-link:hover{
    color:#888888;
}

.nav-search .active a{
    color: #000 !important;
    font-weight: bold;
}

.navbar-collapse{
    background:transparent;
}

@media (max-width: 766px) {
    .navbar-light {
        background-color: #fff;
        border-color: #e7e7e7;
        padding: 0 !important;
        margin: 0;
    }
    .navbar-collapse {
    background: #ddd;
  }
    
}

/*  --------------------------------------------------------
  carousel
-------------------------------------------------------- */
.carousel, .item, .active, .carousel-inner, {
    height:100%;
}

.carousel {
    margin-bottom: 60px;
}

.carousel-control {
    z-index: 0;
}
.carousel-caption {
    z-index: 10;
}

.carousel-inner1 .carousel-caption{
    text-align:left;
}

.carousel-inner2 .carousel-caption{
    text-align:center;
}
.carousel-inner3 .carousel-caption{
    text-align:right;
}


.carousel-caption h1 {
    font-size: 50px;
    line-height: 60px;
}
.carousel-caption p {
    font-size: 18px;
}


.carousel-caption {
    position: absolute;
    top: 35%;
    }
.carousel-indicators{
    margin-left:-10px;
}


@media (max-width: 500px) { 
    .carousel-caption h1 {
        font-size: 200%;
        line-height: 1.5;
    }
    .carousel-caption p {
        font-size: 100%;
    } 
}

@media (min-width: 1280px){
    .carousel-item{
        height: 100vh;
    }
    
}

.svg-container-bottom {
    position: absolute;
    width: 100%;
    bottom: -20px;
    max-height: 300px;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 768px) {
    .svg-container-bottom {
        position: absolute;
        width: 100%;
        bottom: -5%;
        height: 300px;
        z-index: 1;
    }
}

/*  --------------------------------------------------------
    Sign in
-------------------------------------------------------- */
.signbg{
    position: relative;

}
.signbg img{
    width:100%;
}

.signbox {
    position: absolute;
    top: 30%;
    left:40%;
    width:350px;
    background:#fff;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom:80px;
}
.signbox a:hover{
    text-decoration: none;
    color:#454545;
}

.signbox form{
    margin-left:-20px;
}
.register{
    margin-top:30px;
}

.signbox input[type="text"],input[type="email"],input[type="password"],input[type="number"],.signbox span,.signbox label{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    boerder-bottom:2px;
    text-transform: none;
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color:#4f4f4f;
}

.signbox small{
    font-size:10px;
}

.signbox button[type="submit"]{
    float:right;
    border-radius:20px;
    padding-left:25px;
    padding-right: 20px;
}

@media (min-width: 1280px){
    .signbg img{
        width:100%;
        height: 100vh;
    }
    
}
@media (max-width: 768px){
    .signbox{
        width:50%;
    }
    .signbg img{
        width:100%;
        height:80vh;
    }
    
}

/*  --------------------------------------------------------
    Search
-------------------------------------------------------- */

.jumbotron{
    padding:30px;
}

.a{
    position: relative;
}

.a img{
    width:100%;
}

.b{
    position: absolute;
    top:47%;
    left:8%;
    width:50%;
}

.c{
    position: absolute;
    top:12%;
    width:100%;
}

.b input[type="text"],.b button{
    border: 2px solid #ebebeb;
    color:#888888;
    height:60px;
    border-radius: 50px;
}

.b input[type="text"]{
    border-right: 0px;
}

.b button{
    border-left: 0px;
    font-size:24px;
}

.b button:hover{
    background:#ebebeb;
    border: 2px solid #ebebeb;
}

.discover{
    margin-top: 20px;
    margin-left:90px;
}

.container-book{
    display: flex;
    flex-wrap: wrap;
    margin-left:40px;
}
.book{
    background-image: linear-gradient(to left, rgba(204,204,204,.5), rgba(255,255,255,1));
    margin-top:100px;
}
.img-thumbnail{
    height:98%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumbnail img{
    width: 200px;

}

.caption a:hover{
    text-decoration: none;
    color:#ed8324;
}

.img-thumbnail .lead{
    float:left;
    margin-left: 0px;
}

@media (max-width: 720px){
    .discover {
        margin-left:20px;
    }
} 
  
@media (min-width: 1280px){
    .discover p{
        font-size: 30px;
    }
}


/*  --------------------------------------------------------
    5 star Read
-------------------------------------------------------- */
.star, .star1{
    display: flex;
}
.star  span, .star1  span{
    display: block;
    color:#101010;
}
.star .starred span , .star1 .starred span { 
    display: block;
    color:#3cba3a;
    transition: .5s;
    text-shadow:0 2px 5px rgba(0,0,0,.5);
} 


.star1{
    font-size: 18px;
    margin-top:0px;
}

.star1  span{
    font-size: 16px;
}
            
.star1 .starred span { 
    font-size: 16px;
} 
            
.star1 .nonstarred span { 
    display: block;
    font-size: 16px;
} 

/*  --------------------------------------------------------
    5 Star Rating
-------------------------------------------------------- */

.rating1{
    transform:translate(-50%,-50%) rotateY(180deg);
    display:flex;
}

.rating{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%) rotateY(180deg);
    display:flex;
}

.rating input, .rating1 input{
    display: none;
}

.rating  label, .rating1 label{
    display: block;
    cursor:pointer;
}  
           
.rating label:before , .rating1 label:before{
content: '\f005';
    font-family: FontAwesome; 
    position: relative;
    display: block;
    color:#101010;
}

.rating label:after , .rating1 label:after{
    content: '\f005';
    font-family: FontAwesome; 
    position: absolute;
    display: block;
    color:#3cba3a;
    top:0;
    opacity: 0;
    transition: .5s;
    text-shadow:0 2px 5px rgba(0,0,0,.5);
}
           
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}

.rating1 label:hover:after,
.rating1 label:hover ~ label:after,
.rating1 input:checked ~ label:after{
    opacity: 1;
}


/*  --------------------------------------------------------
    review
-------------------------------------------------------- */

.rows{
    margin-top:80px;
}

.title{
    float: center;
    padding:40px;
}

.title small{
    color:#acacac;
}

.title form{
    padding-left:70px;
    padding-top:10px;
}

.title2{
    padding-top:40px;
}

.title2 >.heading{
    font-family: 'Roboto', sans-serif !important;
    font-size: 36px;
    font-style: bold;
    color:#555;
    position: relative;
    margin-bottom: 0px;
}
           
.title2 span{
    font-size: 26px;
}

.form1{
    position: absolute;
    top:1%;
    left:15%;
    margin-top:-40px;
    margin-left:-20px;
}

.heading span{
    color:#7d7d7d;
}

.p2{
    padding-top:0;
    margin-bottom:0px;
}

.p2 span{
    color:#3e81e7;
    font-size: 20px;
}
           
.col1{
    position: relative;
}

.col1 hr{
    margin:0;
}

@media (max-width:720px){
    .col1 hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
           
.col2{
    position:absolute;
    margin-top: -34px;
    padding-top:0px;
    margin-left:80px;
    font-size:14px;
}
           
.col2 a{
    color: #ed8324;
}

.col2 a:hover{
    color: #af7f3a;
    text-decoration: none;
}

.col3 p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
      
.comment hr{
    margin:0;
}

.comment small{
    color:#ccc;
}

.review{
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.avatar{
    display: block;
    font-size: 60px;
    color:#ccc;
    float: left;
    padding-right:10px;
    margin-top:2px;
}

.username{
    color:#2f5c8a;
    font-weight: bold;
    margin-bottom: 0px;
}

.review textarea,button{
    font-family: 'Open sans',sans-serif;
    text-transform: none;
    height:30px;
}

.review button{
    padding-top: 2px;
    padding-bottom: 5px;
}
           
.review textarea{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px; 
    padding:0px;
    font-size: 12px;
    padding-top: 10px;
    margin-left: -15px;
}

.username span{
    font-size: 13px;
    font-weight:normal;
    color: #acacac;
    margin-bottom:10px;
}

.review .rating1{
    position: absolute;
    margin-left:350px;
    margin-top:-10px;
}

.friends{
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 50px;
    position: relative;
}
        
.friends .username{
    font-size: 14px;
}

.friends .username span{
    font-size: 13px;
    color: #010101;
}

.fr{
    position: absolute;
    top: 0;
    margin-top: 13px;
    margin-left:180px;
}

.fr-date{
    position: absolute;
    top: 0;
    margin-top: 10px;
    left: 80%;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #b7b7b7;
}
           
@media(min-width:700px){
    .title1{
        float: right;
    }
}
         

 p::selection, small::selection, span::selection, a::selection, input::selection{
    background:#3cba3a;
    color:#fff;
 }



/*  --------------------------------------------------------
    Footer
-------------------------------------------------------- */

footer{
    font-size:14px;
    margin-top:10px;
    color:#6d6d6d;

}
footer a, footer ul li a{
    color:#bbb;
}

footer ul li{
    float:left;
    list-style: none;
}

footer ul li a
{
    text-decoration: none;
    padding: 0 20px;
}


footer a:hover, footer ul li a:hover{
    color:#3cba3a;
    text-decoration: none;
}
