
 {% extends "layout.html" %} 

<!-- active navbar-->
{% block navbar_class %}
    nav-search bg-light
{% endblock %}
{% block active_signin %}
    active
{% endblock %}
<!-- End Navbar -->

<!--Container-->
{% block body %}
        <div class="container-fluid rows">
          <!-- showing error message-->
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                  {% if errors %}
                    {% set msg=errors[0] %}
                    <div class="alert alert-danger alert-dismissible col-sm-12 text-center" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ msg }}
                    </div>
                  {% endif %}
                {% endwith %}

                <!-- showing success message-->
                {% with successful = get_flashed_messages(category_filter=["success"]) %}
                  {% if successful %}
                    {% set msg=successful[0] %}
                    <div class="alert alert-success alert-dismissible col-sm-12 text-center" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ msg }}
                    </div>
                  {% endif %}
                {% endwith %}
           <!-- Book Preview -->

            <div class="row"> 
                <!-- Image -->     
                <div class="title col-sm-5 text-center">    
                    <div class="title1">
                      <div>
                          <img src="http://covers.openlibrary.org/b/isbn/{{bookInfo[0]['isbn']}}-M.jpg" alt="Book-preview">
                      </div>
                    </div>
                </div>
                
                <!-- Title and Description-->
                <div class="col-sm-6">
                    <div class="title2">
                        <p class="heading">{{bookInfo[0]['title']}} -<span class="font-weight-lighter font-italic">{{bookInfo[0]['year']}}</span></p>
                        <p class="font-weight-lighter p2">by <span>{{bookInfo[0]['author']}}</span></p>
                        <div class="col1">
                            <div class="star1">
                              {% set i1 = average_rating1 %}
                              {% for i in range(1) %}
                                {% for j in range(5) %}
                                  {% if j < i1 %}
                                    <p class="starred"><span class="fa fa-star"></span></p>
                                  {% else %}
                                    <p class="nonstarred"><span class="fa fa-star"></span></p>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                              
                            </div>
                            <div class="col2">
                                <p class="goodreads">{{average_rating}}&nbsp;&nbsp;|&nbsp;&nbsp;{{total_rating}} customer Rating&nbsp;&nbsp;|&nbsp;&nbsp;<img src="{{ url_for('static', filename='assets/Image/goodreads.png') }}" alt="goodreads logo" width="12%">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.goodreads.com/search?q={{bookInfo[0]['title']}}" target="_blank">visit goodreads page</a></p>
                            </div>
                            <hr>
                            <div class="col3">
                                <p class="">ISBN: {{bookInfo[0]['isbn']}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Comment -->
            <div class="comment col-sm-8 offset-sm-3">
                <small>Share your thoughts with your friends</small>
                <hr>
                
                <!-- Review -->
                <div class="review">
                    <span class="avatar fa fa-user-circle" style="font-size: 60px;"></span>
                    <p class="username">{{ session.user_name }} &nbsp;&nbsp;<span>Rate this book</span></p>
                    <form action="/book/{{bookInfo[0]['isbn']}}" method="POST">
                        <div class="rating1">
                          <input type="radio" name="rating" id="star5" value="5"><label for="star5"></label>
                          <input type="radio" name="rating" id="star4" value="4"><label for="star4"></label>
                          <input type="radio" name="rating" id="star3" value="3"><label for="star3"></label>
                          <input type="radio" name="rating" id="star2" value="2"><label for="star2"></label>
                          <input type="radio" name="rating" id="star1" value="1"><label for="star1"></label>
                          <input type="radio" name="rating" value="0" checked>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <textarea class="form-control" name="comment" placeholder="Leave your comment" class="form-control" autocomplete="off" autofocus></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">send <span class="fa fa-chevron-right"></span></button>
                        </div>
                    </form>
                </div>

                <!-- Show Reviewed from others-->
                {% for review in reviews %}
                <div class="friends">
                    <span class="avatar fa fa-user-circle" style="font-size: 60px;"></span>
                    <p class="username">{{review['user_name']}} <span>rated</span></p>
                    <div class="fr">
                        <div class="star1">
                          {% set i1 = review['rating'] %}
                          {% for i in range(1) %}
                            {% for j in range(5) %}
                              {% if j < i1 %}
                                <p class="starred"><span class="fa fa-star"></span></p>
                              {% else %}
                                <p class="nonstarred"><span class="fa fa-star"></span></p>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </div>
                    </div>
                    <div class="fr-date">
                        <p class="pull-right">{{review['times']}}</p>
                    </div>
                    <div>
                        <p class="justify-left">{{review['comment']}}</p>
                    </div>
                    <hr>
                </div>
                {% endfor %}

            </div>

        </div>
    
    {% endblock %}
<!--End Container--> 
