{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class=" profile-container bg-white mt-3">
    <div class="profile-header">
        <img src="{{ url_for('static', filename=user.photo_path) }}" alt="User Image" class="user-image">
        <h1 class="profile-title">{{ user.first_name }}</h1>
    </div>
    <div class="profile-info">
        <p class="profile-field"><strong>ID:</strong> {{ user.id }}</p>
        <p class="profile-field"><strong>First Name:</strong> {{ user.first_name }}</p>
        <p class="profile-field"><strong>Email:</strong> {{ user.email }}</p>
    </div>
</div>


        
        
        <h4>Mis reseñas de libros</h4>
          {% if reviews %}
          
          <div class="row">
              {% for review in reviews %}
              <div class="col-md-4 ">
                <div class="list-group-item list-group-item-action mb-4 p-3">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">
                      <a href="{{ url_for('views.book', isbn=review.book_isbn) }}" class="text-decoration-none text-dark">
                          {{ book_titles[review.book_isbn] }}
                      </a>
                  </h6>
                          <small class="ml-2 review-stars {% if review.rating == 1 %}text-danger{% elif review.rating == 2 %}text-danger{% elif review.rating == 3 %}text-warning{% elif review.rating == 4 %}text-warning{% elif review.rating == 5 %}text-success{% endif %}">
                              {% for i in range(review.rating) %}★{% endfor %}
                              {% for i in range(5 - review.rating) %}☆{% endfor %}
                          </small>
                      </h5>
                  </div>
                  <p class="mb-1 review-text small">{{ review.review }}</p>
                  <div class="d-flex w-100 justify-content-between">
                      {% if review.date %}
                      <small class="text-muted">{{ review.date.strftime('%Y-%m-%d') }}</small>
                      {% endif %}
                      {% if current_user.email == review.user_email %}
                      <button type="button" class="btn btn-sm border ml-auto" data-toggle="modal" data-target="#editReviewModal{{review.id}}">
                          <i class="fas fa-edit"></i>
                      </button>
                      <form action="{{ url_for('views.delete_review', review_id=review.id) }}" method="post" class="ml-2">
                          <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
                      </form>
                      {% endif %}
                  </div>
              </div>
              </div>
              <div class="modal fade" id="editReviewModal{{review.id}}" tabindex="-1" role="dialog" aria-labelledby="editReviewModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editReviewModalLabel">Editar reseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('views.edit_review', review_id=review.id) }}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="rating">Valoración</label>
                            <select class="form-control" id="rating" name="rating">
                                <option selected disabled>Selecciona una valoración..</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="4">★★★★☆</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="review">Reseña</label>
                            <textarea class="form-control" id="review" name="review" rows="3">{{ review.review }}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
              </div>
              {% endfor %}
          {% endif %}
<style>
    .profile-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    .profile-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .profile-field {
        font-size: 16px;
        line-height: 1.6;
    }
    .profile-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .user-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
    }
    .reviews-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    .reviews-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .review {
        margin-bottom: 15px;
    }
    .review-text {
        font-size: 16px;
        line-height: 1.6;
    }
    .review-author {
        font-style: italic;
        text-align: right;
    }
</style>
{% endblock %}
